.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/


.env
.env.*
.venv/
node_modules/



.claude/settings.local.json

secrets/
credentials/

*.db
*.sqlite



# ssh
*.pem
*.key

# vscode
.vscode

