.post-eof {
  background: $grey-light;
  height: 1px;
  margin: $post-eof-margin-top auto $post-eof-margin-bottom;
  display: block;
  max-width: 500px;
  width: 100%;
  text-align: center;
  background:red;

  .post-block:last-of-type & {
    display: none;
  }
}
